<div id="delete-dialog" class="dialog">
	<h3>Delete Post</h3>
	<p id="delete-title">Are you sure you want to delete this page? This cannot be undone.</p>
	<p id="delete-name">PageName</p>
	<button id="delete-dialog-accept">Delete</button>
	<button id="delete-dialog-cancel">Cancel</button>
</div>
