<div id="media-dialog" class="dialog">
	<iframe name="output" style="display:none;"></iframe>
	<h3 id="dialog-title">Select media</h3>

	<div id="media-dialog-search">
		<input id="media-dialog-search-bar" />
		<button id="media-dialog-search-button"><p id="media-dialog-search-button-contents"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;&nbsp;Search</p></button>
	</div>

	<div id="media-dialog-list">
		<div id="media-dialog-upload" class="media-dialog-item unselectable">
			<i class="fa fa-upload fl" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<p class="media-dialog-item-name fl">Upload...</p>
		</div>

		<div id="media-tmp-item" class="media-dialog-item">
			<i class="fa fa-file fl" aria-hidden="true"></i><p class="media-dialog-item-name fl">[filename]</p>
		</div>

		<form id="upload_form" action="/upload" method="post" enctype="multipart/form-data" target="output">
			<input type="file" id="file-input" name="media" onchange="uploadMedia()"/>
		</form>
	</div>

	<div id="media-dialog-buttons">
		<button id="media-dialog-cancel" class="media-dialog-button">Cancel</button>
	</div>
</div>
