<div id="new-dialog" class="dialog">
	<h3 id="new-dialog-title">New Post</h3>
	<p id="new-name-title">Name:</p>
	<input id="new-name" class="dialog-input"></input>
	<p id="new-url-title">URL:</p>
	<span id="url-prev">.../</span><input id="new-url" class="dialog-input"></input>
	<br/>
	<button id="new-dialog-accept">Create</button>
	<button id="new-dialog-cancel">Cancel</button>
</div>
