<div id="rename-dialog" class="dialog">
	<h3 id="dialog-title">Rename</h3>
	<p id="rename-name-title" class="dialog-property-label">Name</p>
	<input id="rename-name" class="dialog-input"></input>
	<p id="rename-url-title" class="dialog-property-label">URL</p>
	<span id="url-prev">.../</span><input id="rename-url" class="dialog-input"></input>
	<br/>
	<button id="rename-dialog-accept">Rename</button>
	<button id="rename-dialog-cancel">Cancel</button>
</div>
