<div id="settings-dialog" class="dialog">
	<h3 id="settings-dialog-title">Settings</h3>
    <div id="settings-entry-container">
        <p class="settings-entry-title">Site name</p>
        <input id="settings-sitename" class="settings-entry-value" type="text"></input>
    </div>
	<button id="settings-dialog-accept">Save</button>
	<button id="settings-dialog-cancel">Cancel</button>
</div>
