#analytics-quick
{
     font-family: 'Heebo', sans-serif;
     height: 75px;
     width: calc(60vw + 3px);
     margin-left: calc(20vw - 3px);
}

#analytics-quick-title
{
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Heebo', sans-serif;
}

.acs-top
{
     margin-top: 10px;
     font-size: 21px;
     font-family: 'Heebo', sans-serif;
}

.acs-bottom
{
     font-size: 13px;
     font-family: 'Heebo', sans-serif;
}

.acs-quick-separator
{
     margin-top: 5px;
     height: 90px;
     width: 0px;
     float: left;
     /* border-right: 1px solid black; */
}

.acs-quick-container
{
     float: left;
     text-align: center;
     width: 20vw;
}

.has-border
{
    border-right: 1px solid black;
}

#analytics-graph
{
     width: 100%;
}

#analytics-graph-container
{
     width: 600px;
     margin-left: calc(50% - 300px);
}

#pageview-title
{
     font-size: 18px;
     font-family: 'Heebo', sans-serif;
     margin-left: calc(50% - 212px + 25px);
     margin-top: 25px;
     margin-bottom: 5px;
}

#pageview-list
{
     width: 425px;
     border: 1px solid gray;
     height: 250px;
     overflow-y: scroll;
     margin-left: calc(50% - 212px);
     margin-bottom: 50px;
}

#pageview-names, #pageview-data
{
     padding: 10px;
     font-size: 13px;
     width: 175px;
     float: left;
     font-family: 'Heebo', sans-serif;
}

#pageview-data
{
     text-align: right;
}
