#editorContainer
{
	margin-left: 10%;
	width: 80%;
	height: 500px;
}

#editorTitle
{
	margin-left: 10%;
	margin-right: 10%;
	height: 30px;
	padding: 10px;
	display: flex;
}

#pageTitleLabel
{
	margin-top: 5px;
	padding-left: 5px;
	width: calc(100% - (100px * 4));
}

#pageUpdate, #pageVisEdit
{
	margin-left: 5px;
	width: 100px;
}

#editor
{
	width: 100%;
	height: 100%;
}
