html, body
{
	margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

input, button
{
    font-family: 'Heebo', sans-serif;
}

#login
{
    margin-left: calc(50% - 150px);
    margin-top: 75px;
    width: 300px;
    padding: 0px;
    text-align: center;
}

#login-image
{
    margin-left: calc(150px - (175px / 2));
    width: 175px;
    height: 175px;
    background-image: url("assets/icon_1_transparent.png");
    background-size: 100% 100%;
}

.login-section
{
    padding-bottom: 15px;
}

#login-username, #login-password
{
    border: none;
    width: 100%;
    height: 40px;
    background: #FFE48C;
    padding: 15px;
    color: #3A3535;
}

#login-submit
{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #F2C641;
}

#login-submit:hover
{
    cursor: pointer;
}

#error
{
    font-family: 'Heebo', sans-serif;
    color: #F4F4F4;
    font-size: 13px;
    display: none;
}
