<style>
[[::login.css]]
</style>

<script>document.title="BeePages - Login"</script>

<script>
[[::login.js]]
</script>

<!-- 3RD PARTY -->
<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="login">
    <div id="login-image"></div>
    <div class="login-section">
        <input id="login-username" type="text" placeholder="Username" />
    </div>
    <div class="login-section">
        <input id="login-password"  onkeydown="if(event.keyCode==13){submit();return false;}" type="password" placeholder="Password" />
    </div>
    <button id="login-submit" onclick="submit()">Login</button>
    <p id="error">Invalid username or password</p>
</div>
