html, body
{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1, h2, h3, p
{
	font-family: "Arial";
}

body
{
	display: flex;
	flex-direction: column;
	background-color: #F4F4F4;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#topbar
{
	background-color: #191919;
	height: 20px;
	padding: 15px;
}

#title
{
	text-decoration: none;
	margin-top: 20px;
	font-size: 17px;
	color: white;
	font-family: 'Heebo', sans-serif;
}

#buttons
{
	padding: 5px 0;
	width: 100%;
	border-top: 1px solid #F2C641;
	border-bottom: 1px solid #F2C641;
	height: 50px;
	display: inline-block;
	background-color: #3A3535;
}

.nav
{
	height: 100%;
	margin: 0 2px;
	padding: 0;
	width: calc((100% / 4) - 4px);
	float: left;
	background-color: transparent;
	cursor: pointer;
	color: white;
	box-shadow: none;
}

.nav:hover, :nav:focus
{
	background-color: transparent;
}

#settings-button, #goto-site-button
{
	width: 100px;
	height: 25px;
	position: absolute;
	color: white;
	right: 10px;
	top: 10px;
	box-shadow: none;
	background-color: transparent;
}

#goto-site-button
{
	right: 125px;
}

button
{
	border: none;
	background-color: #F2C641;
	font-family: 'Heebo', sans-serif;
	cursor: pointer;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}

button:hover
{
	background-color: #FFE48C;
	opacity: 0.9;
}

button:focus
{
	background-color: #F2C641;
	outline: 0;
}

.top-selected
{
	background-color: #F2C641;
}

button:disabled
{
	background-color: #FFE48C;
	opacity: 0.75;
	cursor: default;
}

#view-container
{
	flex-grow: 1;
	justify-content: center;
}

#selectViewText
{
	margin-left: 25%;
	margin-top: 125px;
	width: 50%;
	text-align: center;
}

.entry-list
{
	width: calc(100% - 20px);
	margin-left: 10px;
}

.entry
{
	margin-top: 10px;
	width: calc(100% - 10px);
	border-radius: 10px;
	height: 75px;
	padding: 5px;
	position: relative;
	-webkit-transition: box-shadow 0.2s; /* For Safari 3.1 to 6.0 */

	box-shadow: 0px 2px 10px black;
	transition: box-shadow 0.2s;

	background-color: #3A3535;
	color: #F4F4F4;
}

.entry-draft
{
	background-color: #9e9993;
}

.entry:hover
{
	box-shadow: 0px 5px 15px black;
}

.entry-title
{
	margin-left: 20px;
	font-family: 'Heebo', sans-serif;
}

.entry-link
{
	font-family: monospace;
	margin-left: 25px;
}

.entry-edit, .entry-delete, .entry-rename
{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 120px;
}

.light
{
	background-color: #FFE48C;
}

.entry-delete
{
	right: 10px;
}
.entry-rename
{
	right: 230px;
}

.entry-date
{
	position: absolute;
	bottom: 2px;
	right: 10px;
	padding: 0;
	margin: 0;
	font-family: 'Heebo', sans-serif;
}

.dialog
{
	background-color: white;
	left: calc(50% - 200px);
	right: calc(50% - 200px);
	top: 100px;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 30px;
	position: fixed;
	box-shadow: 0px 3px 15px black;
}

#new-name-title, #new-url-title, #rename-name-title, #rename-url-title
{
	margin-left: 10px;
	margin-bottom: 0px;
	padding-bottom: 2px;
	font-family: 'Heebo', sans-serif;
}

#dialog-title, .dialog-property-label
{
	font-family: 'Heebo', sans-serif;
}

#new-name, #rename-name
{
	margin-left: 10px;
}

#url-prev
{
	font-family: monospace;
	margin-right: 5px;
	margin-left: 10px;
}

#rename-dialog-accept,
#rename-dialog-cancel,
#new-dialog-accept,
#new-dialog-cancel,
#delete-dialog-accept,
#delete-dialog-cancel,
#settings-dialog-accept,
#settings-dialog-cancel
{
	margin-top: 25px;
	padding: 10px;
}

#new-post, #new-page
{
	margin-left: 50px;
}

#categories
{
	margin-left: 10px;
}

#new-post, #categories, #new-page
{
	margin-top: 10px;
	width: 100px;
	height: 40px;
}

#toolbar-container
{
	background-color: white;
}

#editor-container, #editor
{
	background-color: white;
}

#editorTitle, #editorTitleLabel
{
	color: black;
	font-family: 'Heebo', sans-serif;
}

#new-dialog-title, #settings-dialog-title
{
	font-family: 'Heebo', sans-serif;
}

#theme-container
{
	margin: 25px;
	width: calc(100% - 25px);
}

.theme-nav-button
{
	margin-left: 50px;
	background-color: #26C6DA;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
	padding: 10px;
	box-shadow: none;
}

#theme-list-container
{
	width: calc(100% - 50px);
	padding: 15px;
}

.theme-item
{
	width: 100%;
	height: 300px;
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 0px 2px 10px black;
	margin-bottom: 15px;
	background-color: lightgray;
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
}

.theme-item-name
{
	margin-top: 260px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 0px;
	font-size: 20px;
}

.theme-item-info
{
	font-size: 15px;
	margin-top: 0px;
	background-color: rgba(255, 255, 255, 0.5);
}

.theme-item-install
{
	float: right;
	width: 100px;
	height: 40px;
	margin: 15px;
}

#install-progress
{

}

#install-progress-bar
{
	border-radius: 5px;
	background-color: blue;
	width: 10px;
}

.settings-entry
{
	height: 40px;
}

#settings-entry-container
{
	width: 100%;
}

#media-dialog
{
	left: 0;
	margin-left: 5vw;
	width: calc(90vw - 50px);
	top: 0;
	height: calc(70vh - 50px);
	margin-top: calc(15vh - 25px);
}

#media-dialog-search
{
	display: inline-block;
	margin-left: 0px;
}

#media-dialog-search-button
{
	width: 100px;
	height: 25px;
	padding: 0;
}

#media-dialog-search-button-contents
{
	margin-top: 5px;
}

#media-dialog-search-bar
{
	margin-left: 25px;
	height: 25px;
}

#media-dialog-buttons
{
	float: right;
	margin-right: 50px;
	bottom: 0px;
}

#media-dialog-list
{
	height: calc(100% - 150px);
	margin: 25px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	overflow-y: scroll;
}

.media-dialog-button
{
	height: 35px;
	width: 100px;
}

.media-dialog-item
{
	width: calc(100% - 80px);
	padding: 30px;
	margin-bottom: 5px;
	padding-left: 50px;
	height: 20px;
	background-color: #0095a8;
	font-family: 'Heebo', sans-serif;
	cursor: pointer;
}

.media-dialog-item:hover
{
	background-color: #9fc4e0;
}

.media-dialog-item-name
{
	margin: 0;
	padding: 0;
	margin-left: 15px;
}

#media-dialog-upload
{
	background-color: #607D8B;
	cursor: pointer;
}

#upload_form
{
	display: none;
}

.fl
{
	float: left;
}

.mr
{
	margin-right: 15px;
}

#pageCategory
{
	width: 90px;
	margin-right: 5px;
}

#pageCatEdit
{
	width: 100px;
	margin-right: 15px;
}
