<style>[[::main.css]]</style>

<!-- 3RD PARTY -->
<script src="https://cdn.quilljs.com/1.2.4/quill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- BEEZY SCRIPTS -->
<script>
[[::main.js]]

[[::analytics.js]]

[[::post-list-loader.js]]
[[::page-list-loader.js]]

[[::page-editor.js]]
[[::theme-editor.js]]

[[::rename-dialog.js]]
[[::new-dialog.js]]
[[::delete-dialog.js]]
[[::settings-dialog.js]]
[[::media-dialog.js]]

[[::theme-install.js]]
</script>

<div id="topbar">
	<a id="title">BeePages - Admin (v1)</a>
	<button id="goto-site-button">Go to site</button>
	<button id="settings-button" onclick="showSettingsDialog()">Settings</button>
</div>

<div id="buttons">
	<button id="selector-posts" class="nav" onclick="selectView(this, 'posts')">Posts</button>
	<button id="selector-pages" class="nav" onclick="selectView(this, 'pages')">Pages</button>
	<button id="selector-analytics" class="nav" onclick="selectView(this, 'analytics')">Analytics</button>
	<button id="selector-theme" class="nav" onclick="selectView(this, 'theme')">Theme</button>
</div>

<div id="view-container">
	[[./admin/default-view.html]]
</div>
