<p><span class="ql-size-huge">About BeePages</span></p><p><img src="/uploads/icon_1.png"></p><p>BeePages is a lightweight CMS(content management service) meant for beginners and web development experts.</p><p><br></p><p><br></p>