<p>This is my very first post using Beezy. So far it is pretty great, actually! Too bad their profit goal is $5,000 every two weeks! O.o</p><p><br></p><p>AN AWESOME LOGO!!!:</p><p><img src="http://localhost:8080/uploads/logo_1_large.png"></p><p><br></p><p>ikr!!!! bro!</p>