<script>
[[./admin/analytics.js]]
</script>
<style>
[[./admin/analytics.css]]
</style>

<p id="analytics-quick-title">Views</p>
<div id="analytics-quick">
	<div class="acs-quick-container has-border">
		<p class="acs-top" id="acs-top-today">XXX</p>
		<p class="acs-bottom">Today</p>
	</div>
	<div class="acs-quick-separator"></div>
	<div class="acs-quick-container has-border">
		<p class="acs-top" id="acs-top-week">XXX</p>
        <p class="acs-bottom">Past 7 Days</p>
	</div>
	<div class="acs-quick-separator"></div>
	<div class="acs-quick-container">
		<p class="acs-top" id="acs-top-all">XXX</p>
		<p class="acs-bottom">Total</p>
	</div>
</div>

<div id="analytics-graph-container">
	<canvas id="analytics-graph"></canvas>
</div>

<p id="pageview-title">Page views</p>
<div id="pageview-list">
	<pre id="pageview-names"></pre>
	<pre id="pageview-data"></pre>
</div>
