<style>
[[./admin/editor.css]]
</style>

<!-- 3RD PARTY -->
<link href="https://cdn.quilljs.com/1.2.4/quill.snow.css" rel="stylesheet">

<div id="editorTitle">
	<p id="pageTitleLabel">Page: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
	<input list="catlist" id="pageCategory">
	<datalist id="catlist">
		<option value="none">
	</datalist>
	<button id="pageCatEdit" onclick="pageCategory();">Set Category</button>
	<button id="pageVisEdit" onclick="pageVisibility();"></button>
	<button id="pageUpdate" onclick="savePage();">Update</button>
</div>
<div id="editorContainer">
	<div id="toolbar-container">
		<span class="ql-formats">
			<select class="ql-font"></select>
			<select class="ql-size"></select>
		</span>
		<span class="ql-formats">
			<button class="ql-bold"></button>
			<button class="ql-italic"></button>
			<button class="ql-underline"></button>
			<button class="ql-strike"></button>
		</span>
		<span class="ql-formats">
			<select class="ql-color"></select>
			<select class="ql-background"></select>
		</span>
			<span class="ql-formats">
			<button class="ql-script" value="sub"></button>
			<button class="ql-script" value="super"></button>
		</span>
		<span class="ql-formats">
			<button class="ql-header" value="1"></button>
			<button class="ql-header" value="2"></button>
			<button class="ql-blockquote"></button>
			<button class="ql-code-block"></button>
		</span>
		<span class="ql-formats">
			<button class="ql-list" value="ordered"></button>
			<button class="ql-list" value="bullet"></button>
			<button class="ql-indent" value="-1"></button>
			<button class="ql-indent" value="+1"></button>
		</span>
			<span class="ql-formats">
			<button class="ql-direction" value="rtl"></button>
			<select class="ql-align"></select>
		</span>
		<span class="ql-formats">
			<button class="ql-link"></button>
			<button class="ql-image"></button>
			<button class="ql-video"></button>
			<button class="ql-formula"></button>
		</span>
			<span class="ql-formats">
			<button class="ql-clean"></button>
		</span>
	</div>
	<div id="editor-container">
	</div>
	<div id="editor"></div>
</div>
