<div class="entry">
	<p class="entry-title">entry-title</p>
	<a class="entry-link">entry-link</a>
	<button class="entry-delete">Delete</button>
	<button class="entry-edit">Edit</button>
	<button class="entry-rename">Rename</button>
	<p class="entry-date">entry-date</p>
</div>
