<button id="new-post" onclick="showCreateDialog('POST');">New Post</button>
<button id="categories" onclick="openCategoriesDialog();">Categories</button>
<div id="post-list" class="entry-list"></div>
