<div id="theme-container">
	<div id="theme-list-container">
		<div class="theme-item">
			<button class="theme-item-install">Install</button>
			<p class="theme-item-name">Loading...</p>
			<p class="theme-item-info">Loading...</p>
		</div>
	</div>
</div>
